.background {
    background-image: url("../assets/restaurant80.jpg");
}

app-product {
    background-color: hsla(0, 0%, 100%, 0.75);
}

app-product:hover {
    background-color: hsla(0, 0%, 100%, 1);
  }

.menu {
    flex-direction: column-reverse;
    display: flex;
    padding-top: 30px;
}

.logo {
    position: relative;
}

.hero-body {
    padding: 1.5em;
}

.tile {
    margin: 20px;
}

.modal {
    position: fixed; 
    z-index: 2; 
    width: 800px; 
    height: 800px; 
    overflow: auto; 
    background-color: white; 
    border: solid;
    top:10; 
    left:20%; 
   }
   