<body>
  <audio autoplay loop src="../assets/chihiro.mp3"></audio>
  <div class="hero is-fullheight background" *ngIf="world">
    <div class="hero-head">
      <section class="hero is-danger">
        <div class="columns is-vcentered">
          <div class="hero-body column is-half">
            <figure class="product image is-128x128">
              <img class="is-square" [attr.src]="serverImage + world.logo" />
            </figure>
            <span id="worldname" class="title"> {{ world.name }} </span>
          </div>
          <div class="column is-one-third has-text-centered money">
            <span [innerHTML]="world.money | bigvalue"> </span>
            ¥
          </div>
          <div class="column mr-5">
            <button
              id="multiplicateur"
              class="button-53"
              (click)="changeCommutateur()"
            >
              {{ qtmulti }}
            </button>
          </div>
        </div>
      </section>
      <div class="main columns">
        <div class="hero column is-1 is-danger is-fullheight">
          <div class="hero-head">
            <div class="columns is-multiline">
              <div class="column">
                <input
                  class="input player"
                  [(ngModel)]="username"
                  (change)="onUsernameChanged($event)"
                  type="text"
                  placeholder="Player ID"
                />
              </div>
              <div class="column">
                <button
                  (click)="show(true, 'unlocks')"
                  class="button is-danger"
                >
                  Unlocks
                </button>
              </div>
              <div class="column">
                <button
                  (click)="show(true, 'upgrades')"
                  class="button is-danger"
                >
                  Upgrades
                </button>
              </div>
              <div class="column">
                <button
                  (click)="show(true, 'managers')"
                  class="button is-danger"
                >
                  Managers
                </button>
              </div>
              <div class="column">
                <button (click)="show(true, 'angels')" class="button is-danger">
                  Angels
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="product column">
          <div class="tile is-ancestor has-text-centered">
            <div class="tile is-parent">
              <div class="tile is-vertical">
                <app-product
                  [qtmulti]="qtmulti"
                  [money]="world.money"
                  class="tile is-child box"
                  [prod]="world.products[0]"
                  (notifyProduction)="onProductionDone($event)"
                  (notifyPurchase)="onPurchaseDone($event, world.products[0])"
                ></app-product>
                <app-product
                  [qtmulti]="qtmulti"
                  [money]="world.money"
                  class="tile is-child box"
                  [prod]="world.products[3]"
                  (notifyProduction)="onProductionDone($event)"
                  (notifyPurchase)="onPurchaseDone($event, world.products[3])"
                ></app-product>
              </div>
            </div>
            <div class="tile is-parent">
              <div class="tile is-vertical">
                <!--<div
                    class="tile is-child box"
                    *ngIf="world.products[3].quantite === 0"
                  >
                    <button
                      (click)="unlock(this.world.products[3].id)"
                      class="button-53 is-vcentered"
                      id="multiplicateur"
                    >
                      Unlock for {{ world.products[1].cout }}
                    </button>
                  </div>-->
                <app-product
                  [qtmulti]="qtmulti"
                  [money]="world.money"
                  class="tile is-child box"
                  [prod]="world.products[1]"
                  (notifyProduction)="onProductionDone($event)"
                  (notifyPurchase)="onPurchaseDone($event, world.products[1])"
                ></app-product>
                <app-product
                  [qtmulti]="qtmulti"
                  [money]="world.money"
                  class="tile is-child box"
                  [prod]="world.products[4]"
                  (notifyProduction)="onProductionDone($event)"
                  (notifyPurchase)="onPurchaseDone($event, world.products[4])"
                ></app-product>
              </div>
            </div>
            <div class="tile is-parent">
              <div class="tile is-vertical">
                <app-product
                  [qtmulti]="qtmulti"
                  [money]="world.money"
                  class="tile is-child box"
                  [prod]="world.products[2]"
                  (notifyProduction)="onProductionDone($event)"
                  (notifyPurchase)="onPurchaseDone($event, world.products[2])"
                ></app-product>
                <app-product
                  [qtmulti]="qtmulti"
                  [money]="world.money"
                  class="tile is-child box"
                  [prod]="world.products[5]"
                  (notifyProduction)="onProductionDone($event)"
                  (notifyPurchase)="onPurchaseDone($event, world.products[5])"
                ></app-product>
              </div>
            </div>
          </div>
        </div>
        <div class="modal" id="managers">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head has-background-warning-light">
              <p class="modal-card-title is-size-3">Managers</p>
              <button
                (click)="show(false, 'managers')"
                class="delete"
                aria-label="close"
              ></button>
            </header>
            <section class="modal-card-body backgroundModal">
              <div class="tile is-vertical">
                <div *ngFor="let manager of world.managers">
                  <div *ngIf="!manager.unlocked">
                    <div class="tile is-parent">
                      <article
                        class="tile columns is-child notification is-success"
                      >
                        <figure
                          class="product dotManager is-3 has-background-warning-light image is-96x96"
                        >
                          <img [attr.src]="serverImage + manager.logo" />
                        </figure>
                        <div class="column is-8">
                          <div class="is-center title manager-title is-3">
                            {{ manager.name }}
                          </div>
                          <div class="is-center title is-5">
                            Prépare les
                            {{ world.products[manager.idcible].name }} !
                          </div>
                          <button
                            class="button-53 has-background-warning-light"
                            (click)="hireManager(manager)"
                            role="button"
                            [ngClass]="{
                              disabled: world.money < manager.seuil
                            }"
                          >
                            Engager pour {{ manager.seuil }} !
                          </button>
                        </div>
                      </article>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
        <div class="modal" id="upgrades">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head has-background-warning-light">
              <p class="modal-card-title is-size-3">Upgrades</p>
              <button
                (click)="show(false, 'upgrades')"
                class="delete"
                aria-label="close"
              ></button>
            </header>
            <section class="modal-card-body backgroundModal">
              <div class="tile is-vertical">
                <div *ngFor="let upgrade of world.upgrades">
                  <div *ngIf="!upgrade.unlocked">
                    <div class="tile is-parent">
                      <article
                        class="tile columns is-child notification is-success"
                      >
                        <figure
                          class="product dot has-background-warning-light image is-64x64"
                        >
                          <img [attr.src]="serverImage + upgrade.logo" />
                        </figure>
                        <div class="column is-8">
                          <div class="is-center title manager-title is-4">
                            {{ upgrade.name }}
                          </div>
                          <hr />
                          <div class="is-center title is-light is-6">
                            Augmente le {{ upgrade.typeratio }} par
                            {{ upgrade.ratio }} de la préparation des
                            {{ world.products[upgrade.idcible].name }} !
                          </div>
                          <button
                            class="button-53 has-background-warning-light"
                            (click)="purchaseCashUpgrade(upgrade)"
                            role="button"
                            [ngClass]="{
                              disabled: world.money < upgrade.seuil
                            }"
                          >
                            <p>Acheter pour</p>
                            <p [innerHTML]="upgrade.seuil | bigvalue"></p>
                          </button>
                        </div>
                      </article>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
        <div class="modal" id="unlocks">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head has-background-warning-light">
              <div class="tabs">
                <ul class="tabs">
                  <li
                    class="title is-size-3 tabsTitle"
                    (click)="unlockManagement('unlock')"
                    [ngClass]="selectUnlock ? 'success' : 'danger'"
                  >
                    <a>Unlocks</a>
                  </li>
                  <li
                    class="title is-size-3 tabsTitle"
                    (click)="unlockManagement('all')"
                    [ngClass]="selectAllUnlock ? 'success' : 'danger'"
                  >
                    <a>AllUnlocks</a>
                  </li>
                </ul>
              </div>
              <button
                (click)="show(false, 'unlocks')"
                class="delete position"
                aria-label="close"
              ></button>
            </header>
            <section class="modal-card-body backgroundModal">
              <div class="tile is-vertical">
                <div *ngFor="let unlock of getUnlocks()">
                  <div *ngIf="!unlock.unlocked">
                    <div class="tile is-parent">
                      <article
                        class="tile columns is-child notification is-success"
                      >
                        <figure
                          class="product dot has-background-warning-light image is-64x64"
                        >
                          <img [attr.src]="serverImage + unlock.logo" />
                        </figure>
                        <div class="column is-8">
                          <div class="is-center title manager-title is-4">
                            {{ unlock.name }}
                          </div>
                          <hr />
                          <div *ngIf="unlock.idcible === 7">
                            <div
                              class="is-center is-margin-bottom title is-light is-6"
                            >
                              Augmente le {{ unlock.typeratio }} par
                              {{ unlock.ratio }} de la préparation de toutes les
                              industries !
                            </div>
                          </div>
                          <div *ngIf="unlock.idcible !== 7">
                            <div
                              class="is-center is-margin-bottom title is-light is-6"
                            >
                              Augmente le {{ unlock.typeratio }} par
                              {{ unlock.ratio }} de la préparation des
                              {{ world.products[unlock.idcible].name }} !
                            </div>
                          </div>
                          <button
                            class="button-53 disabled has-background-warning-light"
                            role="button"
                          >
                            <p>Se débloque à</p>
                            <p [innerHTML]="unlock.seuil"></p>
                          </button>
                        </div>
                      </article>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
        <div class="modal" id="angels">
          <div class="modal-background-angel"></div>
          <div class="modal-card">
            <header class="modal-card-head has-background-warning-light">
              <div class="tabs">
                <ul class="tabs">
                  <li
                    class="title is-size-3 tabsTitle"
                    (click)="angelManagement('reset')"
                    [ngClass]="selectAngel ? 'success' : 'danger'"
                  >
                    <a>Angels</a>
                  </li>
                  <li
                    class="title is-size-3 tabsTitle"
                    (click)="angelManagement('upgrade')"
                    [ngClass]="selectUpgradeAngel ? 'success' : 'danger'"
                  >
                    <a>Upgrades</a>
                  </li>
                </ul>
              </div>
              <button
                (click)="show(false, 'angels')"
                class="delete position"
                aria-label="close"
              ></button>
            </header>
            <section class="modal-card-body px-0 mx-0 backgroundModalAngel">
              <div class="column content-is-centered text">
                no investors in sight...
              </div>
              <figure>
                <img src="../assets/angel.png" />
              </figure>
              <!--<div *ngFor="let unlock of getUnlocks()">
                  <div *ngIf="!unlock.unlocked">
                    <div class="tile is-parent">
                      <article
                        class="tile columns is-child notification is-success"
                      >
                        <figure
                          class="product dot has-background-warning-light image is-64x64"
                        >
                          <img [attr.src]="serverImage + unlock.logo" />
                        </figure>
                        <div class="column is-8">
                          <div class="is-center title manager-title is-4">
                            {{ unlock.name }}
                          </div>
                          <hr />
                          <div *ngIf="unlock.idcible === 7">
                            <div class="is-center is-margin-bottom title is-light is-6">
                              Augmente le {{ unlock.typeratio }} par
                              {{ unlock.ratio }} de la préparation de 
                              toutes les industries !
                            </div>
                          </div>
                          <div *ngIf="unlock.idcible !== 7">
                            <div class="is-center is-margin-bottom title is-light is-6">
                              Augmente le {{ unlock.typeratio }} par
                              {{ unlock.ratio }} de la préparation des 
                              {{ world.products[unlock.idcible].name }} !
                            </div>
                          </div>
                          <button
                            class="button-53 disabled has-background-warning-light"
                            role="button"
                          >
                            <p>Se débloque à</p>
                            <p [innerHTML]="unlock.seuil"></p>
                          </button>
                        </div>
                      </article>
                    </div>
                  </div>
                </div>-->
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
