.background {
    background-image: url("../assets/restaurant80.jpg");
}

.backgroundModal {
    background-image: url("../assets/fullOnigiri.png");
}

app-product {
    background-color: hsla(0, 0%, 100%, 0.75);
}

app-product:hover {
    background-color: hsla(0, 0%, 100%, 1);
  }

.menu {
    flex-direction: column-reverse;
    display: flex;
    padding-top: 30px;
}

.logo {
    position: relative;
}

.hero-body {
    padding: 1.5em;
}

.tile {
    margin: 20px;
}

.dot {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: inline-block;
}

.is-center {
    text-align: center;
}

.modal {
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;

}

//Functions

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}
   