<body>
  <div class="hero is-fullheight background">
    <div class="hero-head">
      <section class="hero is-danger">
        <div class="columns is-vcentered">
          <div class="hero-body column is-two-thirds">
            <figure class="product image is-96x96">
              <img class="is-square" [attr.src]="serverImage + world.logo" />
            </figure>
            <span id="worldname" class="title"> {{ world.name }} </span>
          </div>
          <div class="column">
            argent
            <span [innerHTML]="world.money | bigvalue"> </span>
          </div>
          <div class="column">multiplicateur</div>
          <div class="column">ID du joueur</div>
        </div>
      </section>
      <div class="main columns">
        <div class="hero is-danger is-fullheight">
          <div class="hero-head">
            <div class="columns menu is-multiline">
              <div class="column">
                <button class="button is-danger">Normal</button>
              </div>
              <div class="column">
                <button class="button is-danger">Normal</button>
              </div>
              <div class="column">
                <button class="button is-danger">Normal</button>
              </div>
            </div>
          </div>
        </div>
        <div class="product column is-vcentered">
          <div class="tile is-ancestor has-text-centered">
            <div class="tile is-parent">
              <div class="tile is-vertical">
                <app-product
                  class="tile is-child box"
                  [prod]="world.products[0]"
                ></app-product>
                <app-product
                  class="tile is-child box"
                  [prod]="world.products[3]"
                ></app-product>
              </div>
            </div>
            <div class="tile is-parent">
              <div class="tile is-vertical">
                <app-product
                  class="tile is-child box"
                  [prod]="world.products[1]"
                ></app-product>
                <app-product
                  class="tile is-child box"
                  [prod]="world.products[4]"
                ></app-product>
              </div>
            </div>
            <div class="tile is-parent">
              <div class="tile is-vertical">
                <app-product
                  class="tile is-child box"
                  [prod]="world.products[2]"
                ></app-product>
                <app-product
                  class="tile is-child box"
                  [prod]="world.products[5]"
                ></app-product>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<!--       <div class="tile is-parent">
        <div class="tile is-vertical">
          <article class="tile is-child box">
            <p class="title">Sashimi</p>
            <p class="subtitle has-text-danger">刺身</p>
          </article>
          <article class="tile is-child box">
            <p class="title">Maki</p>
            <p class="subtitle has-text-danger">マキ</p>
          </article>
      <div class="tile is-parent">
        <div class="tile is-vertical">
          <article class="tile is-child box">
            <p class="title">Sushi</p>
            <p class="subtitle has-text-danger">寿司</p>
          </article>
          <article class="tile is-child box">
            <p class="title">Soupe Miso</p>
            <p class="subtitle has-text-danger">みそ汁</p>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-vertical">
          <article class="tile is-child box">
            <p class="title">Chirashi</p>
            <p class="subtitle has-text-danger">ちらし</p>
          </article>
          <article class="tile is-child box">
            <p class="title">Plateau bateau</p>
            <p class="subtitle has-text-danger">寿司盛り合わせ</p>
          </article>
        </div>
      </div>
    </div>
  </div>
</div> 
 -->
