<div *ngIf="product">
  <article class="column">
    <p class="title" id="productname">{{ product.name }}</p>
    <p class="subtitle has-text-danger">{{ subtitles() }}</p>
    <div class="columns">
      <div>
        <div class="compteur">{{ this.product.quantite }}</div>
        <figure class="frame image circle">
          <img src="../../assets/frame.png" />
        </figure>
        <figure class="product image is-96x96" (click)="startFabrication()">
          <img [attr.src]="serverImage + product.logo" />
        </figure>
      </div>
      <div class="column">
        <button
          class="button-55 {{ buttonBuy }}"
          role="button"
          (click)="buyProduct()"
        >
          Buy {{ multiplicateur }} <br />
          {{ coutNProduct | number : "1.2-2" }}
        </button>
        <!-- <countdown
          #cd
          [config]="{ leftTime: this.product.vitesse }"
          (event)="startFabrication()"
        ></countdown> -->
      </div>
    </div>
    <div>
      <app-my-progress-bar
        class="progress is-danger is-large"
        [run]="run"
        [auto]="product.managerUnlocked"
        frontcolor="#F14668"
        backcolor="#DEDEDE"
        [orientation]="orientation"
        [vitesse]="product.vitesse"
        [initialValue]="0"
      >
      </app-my-progress-bar>
    </div>
  </article>
</div>

<!--
<progress
    class="progress is-danger is-large"
    value="{{ progress }}"
    max="100"
  ></progress>
-->
