.product {
    position : absolute;
    margin-left: 35px;
    margin-top: -140px;
    transition: transform .5s ease;
}

.frame {
    position: relative;
}

.circle {
    height: 180px;
    width: 180px;
}

article:hover
{
    .product{
        transform: scale(2);
    }
}